<div class="productDetailContainer">
    <div class="productDetailCard">

        <h2>{{product.title}}</h2>
        <p>{{product.description}}</p>
        <p>Disponibles: {{product.stock}}</p>
        <p>Categoría: {{product.category}}</p>
        <p>$ {{product.price}}</p>
        <button class="productAddToCartButton">AÑADIR AL CARRITO</button>
    </div>
</div>